body {
  margin: 0;
}

code {
  line-height: normal;
  background: rgba(135, 131, 120, 0.15);
  color: #eb5757;
  border-radius: 4px;
  font-size: 85%;
  padding: 0.2em 0.4em;
}

a {
  color: black;
  border-bottom: 0.05em solid;
  border-color: rgba(55, 53, 47, 0.4);
}

table {
  border-collapse: collapse;
  text-align: left;
  line-height: 1.5;
}
table thead th {
  padding: 10px 15px;
  font-weight: bold;
  vertical-align: top;
  color: #1b3453;
  border-top: 2px solid #1b3453;
  border-bottom: 2px solid #1b3453;
}
table tbody th {
  padding: 10px 15px;
  font-weight: bold;
  vertical-align: top;
  border-bottom: 1px solid #ccc;
  background: #f3f6f7;
}
table td {
  padding: 10px 15px;
  vertical-align: top;
  border-bottom: 1px solid #ccc;
}

.header {
  width: 100%;
  padding: 1rem 0;
  background-color: black;
}

.header-inner {
  margin: 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blog-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
  white-space: nowrap;
}

.main {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  min-height: 100vh;
  padding: 1rem;
  box-sizing: border-box;
}

.content {
  max-width: 600px;
  width: 100%;
}

.content-container blockquote {
  border-left: 4px solid #9fbcee;
  padding: 0.2rem 1rem;
  margin: 1rem 0;
  color: #374151;
  background-color: #ffffff;
}

.dark body {
  background-color: #121212;
  color: #e0e0e0;
}

.dark .header {
  background-color: #222;
}

.dark a {
  color: #bb86fc;
  border-color: #bb86fc;
}

.dark code {
  background: rgba(255, 255, 255, 0.1);
  padding: 0.1rem;
  color: #ff5555;
}

.dark table thead th {
  color: #bbb;
  border-color: #444;
}

.dark table tbody th {
  background: #333;
  border-color: #555;
}

.dark table td {
  border-color: #555;
  color: #ccc;
}

.dark .content-container blockquote {
  background-color: #222;
  border-color: #5555aa;
  color: #ddd;
}
