@import "tailwindcss";

body {
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
  text-align: left;
  line-height: 1.5;
}
table thead th {
  padding: 10px 15px;
  font-weight: bold;
  vertical-align: top;
  color: #1b3453;
  border-top: 2px solid #1b3453;
  border-bottom: 2px solid #1b3453;
}
table tbody th {
  padding: 10px 15px;
  font-weight: bold;
  vertical-align: top;
  border-bottom: 1px solid #ccc;
  background: #f3f6f7;
}
table td {
  padding: 10px 15px;
  vertical-align: top;
  border-bottom: 1px solid #ccc;
}

a {
  text-decoration-color: rgba(55, 53, 47, 0.4);
  text-decoration-line: underline;
}

code {
  display: inline-block;
  margin: 0.1rem 0;
  background: rgba(135, 131, 120, 0.15);
  color: #eb5757;
  border-radius: 4px;
  font-size: 85%;
  padding: 0.1em 0.4em;
}

blockquote {
  border-left: 4px solid #9fbcee;
  padding: 0.2rem 1rem;
  margin: 1rem 0;
  color: #374151;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5 {
  word-break: keep-all;

  overflow-wrap: break-word;
}

h1 {
  font-size: 2.2rem;
  font-weight: 800;
  margin: 1.5rem 0 0.5rem;
}

h2 {
  font-size: 1.7rem;
  font-weight: 700;
  margin: 2rem 0 1rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 1.8rem 0 0.75rem;
}

h4 {
  font-size: 1.2rem;
  font-weight: 700;
  margin: 1.2rem 0 0.5rem;
}

h5 {
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0.75rem 0 0.5rem;
}

hr {
  border-top: 1px solid #e0e0e0;
  margin: 1rem 0;
}

p {
  font-size: 1rem;
  /* line-height: 1.4; */
  margin: 0.4rem 0;
}

ol,
ul {
  margin-left: 1.8rem;
  margin-bottom: 1rem;
}

ol {
  list-style-type: decimal;
}

ul {
  list-style-type: disc;
}

li {
  margin: 0.4rem 0;
}

.header {
  width: 100%;
  padding: 1rem 0;
  background-color: black;
}

.header-inner {
  margin: 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blog-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
  white-space: nowrap;
}

.main {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.content {
  max-width: 800px;
  width: 100%;
  margin-bottom: 2rem;
}

.post-list {
  display: flex;
  flex-direction: column;
  padding: 0.4rem;
  margin: 1rem 0;
  list-style: none;
}

.post-item {
  padding: 0.8rem;
  border: 1px solid #ddd;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}

.post-item:hover {
  box-shadow: 0 4px 12px rgb(0 0 0 / 0.15);
}

.post-link {
  display: block;
  padding: 16px;
  color: inherit;
  text-decoration: none;
}

.post-title {
  margin: 0 0 8px 0;
  font-size: 1.25rem;
}

.post-heaeder-bottom-box {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.post-header-summary {
  font-size: 0.9rem;
  margin: 2rem 0.4rem 0.5rem;
}

.post-body {
  margin: 0.4rem 0;
  color: #555;
  font-size: 1rem;
  line-height: 1.4;
  /* white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */
}

.post-bottom-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.post-date {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  color: #888;
}

.post-label-box {
  display: flex;
  gap: 0.4rem;
}

.post-label {
  display: inline-block;
  border-radius: 5px;
  padding: 0.2rem 0.4rem;
  font-size: 0.875rem;
}

.info-icon {
  position: relative;
  width: 14px;
  height: 14px;
  background-image: var(--info-icon);
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}

.info-tooltip {
  visibility: hidden;
  background-color: #888;
  color: #fff;
  padding: 6px 8px;
  border-radius: 4px;
  position: absolute;
  bottom: 140%;
  left: -400%;
  transform: translateX(-50%);
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
  font-size: 12px;
  z-index: 10;
}

.info-icon:hover .info-tooltip {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.skeleton {
  background-color: #e2e2e2;
  position: relative;
  overflow: hidden;
}

.skeleton::after {
  content: "";
  position: absolute;
  top: 0;
  left: -150px;
  height: 100%;
  width: 150px;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.4), transparent);
  animation: shine 1.5s infinite;
}

@keyframes shine {
  0% {
    left: -150px;
  }
  100% {
    left: 100%;
  }
}

.skeleton-title {
  height: 1.5rem;
  width: 60%;
  margin-bottom: 0.5rem;
  border-radius: 8px;
}

.skeleton-body {
  height: 1rem;
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 4px;
}

.skeleton-label {
  height: 1.8rem;
  width: 5rem;
  margin-right: 0.4rem;
  border-radius: 5px;
  display: inline-block;
}

.skeleton-date {
  height: 1rem;
  width: 5rem;
  border-radius: 4px;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --info-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23555555' fill-opacity='0.5' d='M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM216 336l24 0 0-64-24 0c-13.3 0-24-10.7-24-24s10.7-24 24-24l48 0c13.3 0 24 10.7 24 24l0 88 8 0c13.3 0 24 10.7 24 24s-10.7 24-24 24l-80 0c-13.3 0-24-10.7-24-24s10.7-24 24-24zm40-208a32 32 0 1 1 0 64 32 32 0 1 1 0-64z'/%3E%3C/svg%3E");
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
